.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--Grey-light-2);
  box-shadow: var(--Shadow);
  min-height: 50rem;
}

.header {
  height: 7rem;
  background-color: white;
  border-bottom: 1px var(--Grey-light-1) solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--Grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: white;
  flex: 1;
}

.details {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--Grey-light-1);
  border-bottom: var(--line);
}

.description {
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.08);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
}

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
